<launch>
  <!-- KnowRob json_prolog server -->
  <node name="json_prolog" pkg="rosprolog" type="run_with_prolog_env" args="knowrob_roslog_launch $(find json_prolog)/bin/json_prolog" />

  <!-- Belief state logging node -->
  <node name="beliefstate" pkg="beliefstate" type="beliefstate" />
  
  <!-- rosbridge for websocket visualization -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  
</launch>
