<launch>
  <arg name="sim" default="false" />
  <arg name="plot" default="false" />
  <arg name="rviz" default="true" />

  <include file="$(find knowrob_assembly)/launch/boxy_battat_no_rviz.launch" >
    <arg name="sim" value="$(arg sim)" />
    <arg name="plot" value="$(arg plot)" />
    <arg name="rviz" value="$(arg rviz)" />
  </include>
  
</launch>
