 <launch>
  <arg name="rviz" default="true" />
  <arg name="hardware_interface" default="EffortJointInterface"/>

  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find yumi_description)/urdf/yumi.urdf.xacro' prefix:=$(arg hardware_interface)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <node name="kautham_node" pkg="kautham" type="kautham-rosnode" args=""/>
  <node name="Yumi" pkg="yumik" type="yumik-node" args=""/>

  <node name="world2map" pkg="knowrob_kautham" type="world2map" args=""/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find knowrob_kautham)/config/yumi.rviz"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  
  <!-- <node name="krb_tf_listener" pkg="knowrob_objects" type="krb_tf_listener" output="screen"/> -->
  <param name="initial_package" type="string" value="knowrob_assembly" />
  <param name="initial_goal" type="string" value="register_ros_package(knowrob_kautham), battat_initialize_kautham_sim, kautham_init_planning_scene('package://assembly_models/battat/', 'package://knowrob_kautham/launch/empty_world.xml')" />
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" output="screen"/>

<!--
  <include file="$(find knowrob_paramserver)/launch/upload_owl_to_paramserver.launch" />
-->

  <node name="object_state_publisher" pkg="knowrob_objects" type="object_state_publisher.py" output="screen">
    <param name="hz" value="1" />
  </node>

</launch>
