<launch>

  <!-- Flowchart visualization -->
  <node name="flowchart_vis" pkg="flowchart_vis" type="flowchart_vis" args="../img/block-diagram-acquisition.svg" cwd="node"/>

  <!-- KnowRob json_prolog server -->
  <!--node name="knowrob" pkg="rosprolog" type="run_with_prolog_env" args="flowchart_vis $(find json_prolog)/bin/json_prolog" /-->
  
  <!-- ROSPRAC -->
  <node name="rosprac" pkg="rosprac" type="rospracinfer.sh"/>

  <!-- OpenCyc launch file (needed for ehow importer -->
  <include file="$(find opencyc)/launch/opencyc.launch" />
</launch>
